[submodule "dotbot"]
	path = dotbot
	url = https://AlexeySachkov@github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://AlexeySachkov@github.com/VundleVim/Vundle.vim
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://AlexeySachkov@github.com/cyrus-and/gdb-dashboard.git
